body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
    backdrop-filter: blur(3px);
}

.navBar .logo h1{
    font-weight: bold;
    font-size: 16px;
    text-transform:capitalize;
    letter-spacing: 2px;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navBar .navLink .menuLink{
    text-decoration: none;
    margin-left: 20px;
    color: grey;
}

.navBar .navLink .menuLink:hover{
    color: orangered;
}

.mainContent .leftContent h1{
    font-size: 68px;
    max-width: 18ch;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 20px;
}

.mainContent .leftContent p{
    font-size: 18px;
    color: rgb(57, 57, 57);
    line-height: 1.5;
    margin-bottom: 20px;
}

.mainContent .leftContent .contactButton{
    padding: 15px 40px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.mainContent .leftContent{
    padding: 20px;
}

.mainContent{
    display: flex;
}

.mainContent .rightContent {
    width: 50%;
    margin-bottom: -4px;
}

.mainContent .rightContent img{
    width: 100%;
}

.mainContent .leftContent .contactButton:hover{
    background-color: #ff6f00;
}

.about .aboutDetails .aboutRight{
    width: 10%;
}

.about .aboutDetails .aboutLeft{
    width: 90%;
}

.about .aboutDetails .aboutLeft img{
    width: 100%;
}

.about .aboutDetails .aboutLeft h1{
    font-size: 78px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about{
    background-color: rgb(33, 33, 33);
    display: flex;
    padding: 60px;
    color: antiquewhite;
}

.about .aboutDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 4% 8%;
    color: white;
}

.footer .footerLeft{
    width: 30%;
}

.footer .footerLeft .contactButton{
    padding: 15px 40px;
    color: hsl(26, 100%, 50%);
    background-color: transparent;
    border: 1px solid #ff6f00;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
}

.footer .footerLeft .contactButton:hover{
    background-color: #ff6f00;
    color: white;
}

.footer .footerLeft h2{
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer .footerLeft h1{
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    text-transform:capitalize;
    letter-spacing: 2px;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer .footerLeft p{
    font-size: 14px;
    line-height: 1.5;
    color: rgb(170, 170, 170);
}

.footer .footerCenter{
    width: 30%;
}

.footer .footerCenter li{
    list-style: none;
    margin-bottom: 25px;
}

.footer .footerCenter li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(170, 170, 170);
}

.footer .footerCenter li a:hover{
    color: #ff6f00;
}

.footer .footerRight p {
    font-weight: 600;
    color: #ff6f00;
    margin-bottom: 50px;
}

.aboutPage .aboutLeft h1{
    font-size: 48px;
    font-weight: 600;
}

.aboutPage .aboutLeft p {
    color: #ff6f00;
    text-transform: uppercase;
    font-weight: 600;
   
}


.aboutPage{
    padding: 4%;
}


.portfolio {
    padding: 4%;
}

.portfolio > h1{
    font-size: 48px;
}

.contact{
    padding: 4%;
}

.contact h1{
    font-size: 58px;
    margin-bottom: 0px;
}

.contact h2{
    font-size: 58px;
    color: #ff6f00;
    margin-top: 0px;
}
.skills{
    padding: 4%;
}

.skills h1{
    font-size: 48px;
    margin-bottom: 5px;
}

.skills .skillSection{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.skills .skillSection .actualSkill{
    width: 30%;
    padding: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.skills .skillSection .actualSkill h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #181818;
}

.skills .skillSection .actualSkill p{
    font-size: 14px;
    line-height: 1.5;
    color: rgb(45, 45, 45);
}

.skills .skillSection .actualSkill img{
    width: 50px;
}

.tools{
    padding: 4%;
}

.tools h1{
    font-size: 48px;
    margin-bottom: 5px;
}

.tools .actualTools{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.tools .actualTools img{
    width: 50px;
}

.contact .contactInfo h2{
    font-size: 36px;
    color: #181818;
    font-weight: 500;
    margin-bottom: 0px;
}

.contact .contactInfo p{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(45, 45, 45);
}

.contact .contactInfo {
    display: flex;
    justify-content: space-between;
}

.contact .contactInfo .contactButton{
    padding: 15px 40px;
    color: orangered;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid orangered;
}

.contact .contactInfo .contactButton:hover{
    background-color: orangered;
    color: white;
}


.contact .contactInfo .info{
    padding: 40px;
    background-color: antiquewhite;
    margin-right: 20px;
    border-radius: 6px;
}

.contact .contactInfo .info img{
    width: 40px;
    margin-bottom: 20px;
}

.portfolio{
    background-color: #fbfbfb;
}

.portfolio h1{
    font-size: 48px;
    margin-bottom: 5px;
    align-self: self-end;
}

.portfolio  p{
    font-size: 16px;
    color: rgb(45, 45, 45);
    line-height: 1.5;
    width: 40ch;
}

.portfolio .portfolioItems .items span{
    color: rgb(40, 40, 40);
    background-color: antiquewhite;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.portfolio .portfolioItems .items img {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.portfolio .portfolioItems .items a{
    font-size: 22px;
    font-weight: 600;
    color: #ff6f00;
    margin-top: 20px;
    text-decoration: none;
}

.portfolio .portfolioItems .items .tags{
    margin-top: 10px;
}

.portfolio .portfolioItems .items a:hover{
    color: orangered;
}

.portfolio .portfolioItems{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.portfolio .portfolioItems .items{
    width: 30%;
    margin-right: 20px;
}